.DS_Store
node_modules
.angular
packages/ngx-web-component/**/generated
dist
www
.nx
.python-version
*~
**/version.ts
packages/web-component/wordpress-plugin/read-along-web-app-loader/js/*
packages/studio-web/playwright-report
**/test-results
