/* Ripple effect */

%transition {
    transition: background 0.4s;
    &:active { 
        transition: background 0s;
    }
}

%ripple {
    background-position: center;
    @extend %transition;
    @extend %themed-buttons;

    &:hover {
        @extend %hover-shared;
    }

    &:active {
        background-size: 100%;
        @extend %themed-buttons--strong;
    }
}

.animate-transition {
    @extend %transition;
}

.ripple,
.reading {
    @extend %ripple;
}


.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: em(5);

    @each $theme,
    $value in $ui-themes {
        &.theme--#{$theme} {
            background-color: rgba(map-deep-get($ui-themes, $theme, secondary), .2);
        }
    }
}