.control-panel {
    @extend %border--strong;
    border-radius: em(5);
    padding: em(5);
    width: fit-content;
    margin: em(25) auto;

    &__control {
        border-radius: em(5);

        &:focus {
            outline: none;
        };

        margin: em(5);
    }
}

.settings {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
    &__divider {

    }

    &__option {

        &__container {

        }

        &__header {
            margin-bottom: em(8)

        }

        &__setting {

        }

    }

}