.image {
    @include mq(em(map-get($breakpoints, small)), 'max-width', 'screen') {
        max-height: 15vh;
    }
    max-height: em($page-size - 100);
    &__container {
        text-align: center;
        margin: 0 em(32);
        padding: em(16);
        border-radius: 0 0 0 0;
        position: relative;
        max-height: em($page-size - 100);
        @extend %themed-bg;
        @include mq(em(map-get($breakpoints, small)), 'max-width', 'screen') {
            max-height: 15vh;
        }
    }
}