%themed-bg {
    &.theme {

        @each $theme,
        $value in $ui-themes {
            &--#{$theme} {
                background-color: map-deep-get($ui-themes, $theme, primary)
            }
        }
    }
}

%basic-text {
    line-height: 1.5;
    border-radius: em(5);
    position: relative;
    padding: em(1);
}

$max-height: 90vh;

.page {
    overflow-y: hidden;
    overflow-x: auto;
    flex-grow: 1;
    min-width: 100%;
    max-width: 55em;
    @extend %border--strong--left;
    @extend %border--strong--right;

    &__container {
        overflow: auto;
        max-height: em($page-size);
        max-width: 100%;
        position: relative;
        display: -webkit-inline-flex;
        flex-direction: row;
        // height: em($page-size);
        flex-wrap: nowrap;
        justify-content: space-between;
        @extend %border--strong--top;
        @extend %border--strong--left;
        @extend %border--strong--right;
        border-radius: em(5) em(5) 0 0;
    }

    &__counter {
        margin: em(10) 0 0 em(15);
    }

    &__col {
        &__image {
            float: left;
        }

        &__text {}

    }

}

.paragraph {
    &__container {
        @extend %themed-bg;
    }
}

.sentence {
    margin-bottom: em(24);
    margin-top: em(24);
    text-align: center;
    @extend %themed-bg;

    &__container {
        scroll-behavior: smooth;
        // padding: em(16);
        position: relative;
        @include mq(em(map-get($breakpoints, medium)), 'max-width', 'screen') {
            max-height: 15vh;
            margin-top: 0;
        }
        overflow-y: auto;
        // border: em(1) solid black;
        margin: em(50) em(50) em(25) em(50);

        &__buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__text {
        @extend %basic-text;
        @extend %themed-text;
    }

    &__word {

        @extend %themed-text;
        @extend %basic-text;

        // font-size: 1.5em;
        &:hover {
            @extend %hover-shared;
            @extend %themed-text--strong;
        }

        &.reading {
            @extend %themed-text--stronger;
        }
    }
}

.read-along-container {
    max-width: 55em;
    margin: 0 auto;
    max-height: $max-height;
    overflow-Y: hidden;
    overflow-X: hidden;
    padding: em(5);
    position: relative;

    &--fullscreen {
        max-width: 80%;
        min-width: 80%;
    }
}