%themed-bg {
    &.theme {

        @each $theme,
        $value in $ui-themes {
            &--#{$theme} {
                background-color: map-deep-get($ui-themes, $theme, primary)
            }
        }
    }
}

%basic-text {
    line-height: 1.5;
    border-radius: em(5);
    position: relative;
}

$max-height: 90vh;

.page {
    overflow: hidden;
    height: em(350);
    &__container {
        overflow: auto;
        max-height: em(350);
        position: relative;
    }
    &__counter {
        margin: em(10) 0 0 em(15);
    }
    &__col {
        &__image {
            float: left;
        }

        &__text {
        }

    }

}

.paragraph {
    &__container {
        @extend %themed-bg;
        @extend %border--strong--top;
        @extend %border--strong--left;
        @extend %border--strong--right;
        border-radius: em(5) em(5) 0 0;
    }
}

.sentence {
    margin-bottom: em(24);
    margin-top: em(24);
    text-align: center;
    @extend %themed-bg;

    &__container {
        scroll-behavior: smooth;
        padding: em(16);
        position: relative;
        max-height: em(350);
        overflow-y: auto;

        &__buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__text {
        @extend %basic-text;
        @extend %themed-text;
    }

    &__word {

        @extend %themed-text;
        @extend %basic-text;

        &:hover {
            @extend %hover-shared;
            @extend %themed-text--strong;
        }

        &.reading {
            @extend %themed-text--stronger;
        }
    }
}

.read-along-container {
    max-width: 55em;
    margin: 0 auto;
    max-height: $max-height;
    overflow-Y: hidden;
    overflow-X: hidden;
    padding: em(5);
    position: relative;

    &--fullscreen {
        max-width: 80%;
        min-width: 80%;
    }
}