%themed-bg {
    &.theme {

        @each $theme,
        $value in $ui-themes {
            &--#{$theme} {
                background-color: map-deep-get($ui-themes, $theme, primary)
            }
        }
    }
}

%basic-text {
    line-height: 1.5;
    border-radius: em(5);
    position: relative;
}

.sentence {
    margin-bottom: em(24);
    @extend %themed-bg;

    &__container {
        margin: em(48) auto 0 auto;
        padding: em(16);
        border-radius: em(5) em(5) 0 0;
        position: relative;
        @extend %themed-bg;
        @extend %border--strong--top;
        @extend %border--strong--left;
        @extend %border--strong--right;

        &__buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__text {
        @extend %basic-text;
        @extend %themed-text;
    }

    &__word {

        @extend %themed-text;
        @extend %basic-text;

        &:hover {
            @extend %hover-shared;
            @extend %themed-text--strong;
        }

        &.reading {
            @extend %themed-text--stronger;
        }
    }
}

.read-along-container {
    max-width: 35em;
    margin: 0 auto;
    &--fullscreen {
        max-width: 80%;
        min-width: 80%;
    }
}