<mat-toolbar class="p-0">
    <h3>Text Format Help</h3>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<h2>Here is how to format your plain text input text.</h2>
<mat-dialog-content>
<p>Each line should ideally contain one sentence, although that is not a strict rule.</p>
<p>Paragraph breaks are indicated by inserting a blank line.</p>
<p>Page breaks are indicated by inserting two consecutive blank lines.</p>
<p>Example:</p>
<pre>
This is sentence one in paragraph one on page one.
This is sentence two in paragraph one on page one.

This is sentence one in paragraph two on page one.
This is sentence two in paragraph two on page one.


This is sentence one in paragraph one on page two.
</pre>
</mat-dialog-content>