<mat-toolbar class="p-0">
    <h3 i18n="Title for text format help">Text Format Help</h3>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<h2 i18n="Header for text format help">Here is how to format your plain text input text.</h2>
<mat-dialog-content>
<p i18n="Suggestion for one sentence per line">Each line should ideally contain one sentence, although that is not a strict rule.</p>
<p i18n="Paragraph break directive">Paragraph breaks are indicated by inserting a blank line.</p>
<p i18n="Page break directive">Page breaks are indicated by inserted two consecutive blank lines.</p>
<p i18n="Label for example">Example:</p>
<pre i18n="Example of text input format">
This is a sentence.
This is a second sentence.

This is a second paragraph.
Sent 2 in the second paragraph.


This text starts page 2.

A second paragraph on page 2.


Page 3 has this sentence.
And it has that sentence, in the same paragraph.
</pre>
</mat-dialog-content>
