<mat-toolbar class="p-0">
    <h3>Text Format Help</h3>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<h2>Here is how to format your plain text input text.</h2>
<mat-dialog-content>
<p>Each line should ideally contain one sentence, although that is not a strict rule.</p>
<p>Paragraph breaks are indicated by inserting a blank line.</p>
<p>Page breaks are indicated by inserted two consecutive blank lines.</p>
<p>Example:</p>
<pre>
This is a sentence.
This is a second sentence.

This is a second paragraph.
Sent 2 in the second paragraph.


This text starts page 2.

A second paragraph on page 2.


Page 3 has this sentence.
And it has that sentence, in the same paragraph.
</pre>
</mat-dialog-content>