<section>
    <!-- <ng-template *ngIf="b64Inputs$ | async as b64Inputs"> -->
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h2 i18n="Congratulations message" class="subtitle">Congratulations! Here's your ReadAlong!</h2>
            </div>
            <div class="col-1">
                <button color="primary" (click)="download()" mat-mini-fab aria-label="Example icon button with a download icon">
                <mat-icon>file_download</mat-icon>
              </button>
            </div>
        </div>
        
        <div class="row">
            <p>You can edit the page title here</p>
            <div id='newpagetitle'>
                <input
                #pageTitle
                class="subtitle"
                [(ngModel)]="slots.pageTitle"
                [ngStyle]="{'width.ch': slots.pageTitle.length, 'min-width.ch': 25}"
                style="border:none"
                (input)="onPageTitleChange($event)"
                placeholder="Enter your page title here"/>
            </div>
        </div>
        
        <div class="row" *ngIf="b64Inputs">
            <read-along text="{{b64Inputs[1]}}" alignment="{{b64Inputs[2] }}" audio="{{b64Inputs[0]}}" class="hydrated">
                <div id="divid1">
                  <input
                    #title
                    [(ngModel)]="slots.title"
                    [ngStyle]="{'width.ch': slots.title.length, 'min-width.ch': 20}"
                    style="border:none"
                    placeholder="Enter your title here"
                    slot="read-along-header"
                  /> 
                </div>
                <div id="divid2">
                    <input
                    #subtitle
                    [(ngModel)]="slots.subtitle"
                    [ngStyle]="{'width.ch': slots.subtitle.length, 'min-width.ch': 20}"
                    style="border:none"
                    placeholder="Enter your subtitle here"
                    slot="read-along-subheader"
                  />

                </div>
                
            </read-along>
        </div>
        <div class="row">
        </div>
    </div>
    <!-- </ng-template> -->
</section>
