// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============

$hopbush:                   #c69;
$bouquet:                   #b37399;
$venus:                     #998099;
$patina:                    #699;
$nebula:                    #d2e1dd;
$white:                     #fff;
$dawn-pink:                 #f2ece4;
$wafer:                     #e1d7d2;
$iron:                      #dadbdf;
$regent-grey:               #808c99;
$pale-sky:                  #6b717f;
$midnight-blue:             #036;
$black:                     darken(#08090E, 2%);
$white:                     #fff;

$ui-themes: (
    light: (
        primary:             $white,
        secondary:           darken($white, 50%),
        accent:              darken($white, 60%),
        text:                $black,
        text--secondary:     $white,
        text--accent:        $white,
    ),
    dark: (
        primary:             lighten($black, 30%),
        secondary:           darken($white, 35%),
        accent:              $white,
        text:                $white,
        text--secondary:     $white,
        text--accent:        $black
    ),
    candy: (
        primary:             pink,
        secondary:           darken(pink, 15%),
        accent:              darken(pink, 30%),
        text:                $black,
        text--secondary:     $black,
        text--accent:        $white
    )
);

// Common colors
$color-background:          $white;
$color-background-shade:    $iron;
$color-background-invert:   $hopbush;
// $color-text:                darken($pale-sky, 15);
$color-text:                $black;
$color-text-weak:           $regent-grey;
$color-text-strong:         $midnight-blue;
$color-text-heading:        $regent-grey;
$color-text-invert:         rgba($color-background, .75);
$color-text-strong-invert:  $color-background;
   

// Links
$color-link:                $hopbush;
$color-link-hover:          $midnight-blue;
$color-link-visited:        $bouquet;

// Code
$color-code:                #333;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      #333;

// Selections
$color-selection:           #b3d4fc;

// Messages
$color-message:             #f4ecbb;
$color-success:             #2cde2c;
$color-warning:             #cf8600;
$color-important:           #d00;
$color-notice:              #66b;