.version
  font-size: 0.9em
  color: #aaa
  display: flex
  flex-direction: column
  flex-wrap: no-wrap
  align-items: center
  justify-content: space-between
  align-content: space-around

.nav__button
  align-items: right

.nav-spacer
  flex: 1 1 auto
