// Variables

// Configurations

// $fix-mqs
//
// Define width for browsers w/out media query support
//
// $fix-mqs - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$fix-mqs: false !default;

// $old-ie
//
// Turn on/off IE specific styles
//
// $old-ie - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$old-ie: false !default;

// $breakpoints
//
// Define major breakpoints
// There are no common breakpoints; examples based on the official Sass styleguide
// You'll need to define your own breakpoints to suit your design
//
// $breakpoints - {map}

$breakpoints: (
  xsmall: null,
  small: 480,
  medium: 910,
  // This is usually 768, but it works better with the nav bar at 910, so everything else should follow suit
  large: 1024,
  xlarge: 1280,
);

// $zindex
//
// Define z-indexes for various elements
//
// $zindex - {map}
// @source - http://www.sitepoint.com/using-sass-maps/

$zindex: (
  modal: 1000,
  overlay: 900,
  dropdown: 800,
  nav: 700,
  ui-button: 650,
  header: 600,
  footer: 500,
  pseduo: 400,
  default: 1,
  bottomless-pit: -10000,
);

$page-size: 55;
