#styleInput
  border: 1px solid #222
  min-height: 35vh
  font-family: 'Noto Sans', 'Verdana', 'Arial', 'sans-serif'

pre
  color: var(--bs-code-color)
  padding: 1em
  margin: .5em
  font-size: 1.1em

.style-helper
  padding: 1em
  max-height: 98vh
  overflow-y: auto

code
  white-space: pre

h2
  margin-top: 2em

.comment
  color: #696

.css-class
  color: #ffe66d
