/* Ripple effect */

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover, .reading {
    &.theme {
        &--dark {
            @include word-button-colors(map-deep-get($ui-themes, dark, accent), map-deep-get($ui-themes, dark, text-accent));
        }
        &--light {
            @include word-button-colors(map-deep-get($ui-themes, light, accent), map-deep-get($ui-themes, light, text-accent));
        }
    }
}

.ripple:active, .reading {
  background-size: 100%;
  transition: background 0s;
  &.theme {
    &--dark {
        background-color: lighten(map-deep-get($ui-themes, dark, accent), 0);
    }
    &--light {
        background-color: darken(map-deep-get($ui-themes, light, accent), 0);
    }
}
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 0;
    border-radius: em(5);
} 

.reading {
    color: white;
}
