<mat-horizontal-stepper linear #stepper>

    <mat-step [stepControl]="upload.uploadFormGroup" label="Step 1">
        <app-upload #upload (stepChange)="stepChange($event)"></app-upload>
    </mat-step>

    <!-- <mat-step label="Step 2">
        <app-config></app-config>
    </mat-step> -->

    <mat-step label="Step 2">
        <app-demo *ngIf="b64Inputs$ | async as b64Inputs" [b64Inputs]="b64Inputs"></app-demo>
    </mat-step>

</mat-horizontal-stepper>
<router-outlet></router-outlet>
<a (click)="openPrivacyDialog()" id="privacy">Privacy Policy</a>