:root,
#read-along-container {
  --theme-light-foreground: rgb(80, 70, 70) !important;
  --theme-light-background: rgb(250, 240, 240) !important;
  --theme-light-system-background: rgb(240, 230, 230) !important;
  --theme-light-system-foreground: rgb(70, 60, 60) !important;
  --theme-dark-foreground: rgb(250, 242, 242) !important;
  --theme-dark-background: rgb(90, 80, 80) !important;
  --theme-dark-system-background: rgb(80, 70, 70) !important;
  --theme-dark-system-foreground: rgb(240, 232, 232) !important;
}

/**
change the color of the read along
**/

.theme--light.sentence__word,
.theme--light.sentence__text,
.theme--dark.sentence__word.reading,
.theme--dark.sentence__word:hover {
  color: var(--theme-light-foreground) !important;
}

.theme--dark.sentence__word,
.theme--dark.sentence__text,
.theme--light.sentence__word.reading,
.theme--light.sentence__word:hover {
  color: var(--theme-dark-foreground) !important;
}

/**
change the color of the page counter
**/
.theme--dark .page__counter {
  color: var(--theme-dark-foreground) !important;
}

.theme--light .page__counter {
  color: var(--theme-light-foreground) !important;
}

/**
change the scrollbar color
**/
.theme--light.pages__container {
  scrollbar-color: var(--theme-light-foreground)
    var(--theme-light-system-background) !important;
}

.theme--dark.pages__container {
  scrollbar-color: var(--theme-dark-foreground)
    var(--theme-dark-system-background) !important;
}

/**
change the background color and text color
**/
.theme--light.page__container,
.theme--light.page__col__image,
.page__container,
.theme--light.settings {
  background-color: var(--theme-light-background) !important;
  color: var(--theme-light-foreground) !important;
}

.theme--dark.page__container,
.theme--dark.page__col__image,
.page__container,
.theme--dark.settings {
  background-color: var(--theme-dark-background) !important;
  color: var(--theme-dark-foreground) !important;
}

/**
set backgrounds
**/
.background--dark,
.theme--light.sentence__word.reading,
.theme--light.sentence__word:hover {
  background: var(--theme-dark-system-background) !important;
}

.background--light,
.theme--dark.sentence__word.reading,
.theme--dark.sentence__word:hover {
  background: var(--theme-light-system-background) !important;
}

/** control panel section **/
/**
change the button color
**/

.theme--light.ripple,
.color--light {
  color: var(--theme-light-foreground) !important;
}

/** style playback speed button **/
.theme--light input[type="range"] {
  accent-color: var(--theme-light-system-foreground) !important;
  background-color: var(--theme-light-background) !important;
}

.theme--light input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: var(--theme-light-system-background) !important;
}

.theme--dark.ripple,
.color--dark {
  color: var(--theme-dark-system-foreground) !important;
}

.theme--dark input[type="range"] {
  accent-color: var(--theme-dark-system-foreground) !important;
  background-color: var(--theme-dark-system-background) !important;
}

.theme--dark input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: var(--theme-dark-system-foreground) !important;
}
