/**
change color of the read along
**/

.theme--light.sentence__word,
.theme--light.sentence__text {
  color: rgba(80, 70, 70, 0.9) !important;
}

.theme--dark.sentence__word,
.theme--dark.sentence__text {
  color: rgba(220, 200, 200, 0.9) !important;
}

/**
change color of the page counter
**/
.theme--dark .page__counter {
  color: rgba(220, 200, 200, 0.9) !important;
}

.theme--light .page__counter {
  color: rgba(50, 40, 40, 0.8) !important;
}
/**
change scrollbar color
**/
.theme--light.pages__container {
  scrollbar-color: rgba(220, 200, 200, 0.9) rgba(220, 200, 200, 0.2) !important;
}
.theme--dark.pages__container {
  scrollbar-color: rgba(220, 200, 200, 0.9) rgba(80, 70, 70, 0.7) !important;
}

/**
change background color and text color
**/
.theme--light.page__container,
.theme--light.page__col__image,
.page__container,
.theme--light.settings {
  background-color: rgb(250, 240, 240) !important;
  color: rgba(80, 70, 70, 0.8) !important;
}

.theme--dark.page__container,
.theme--dark.page__col__image,
.page__container,
.theme--dark.settings {
  background-color: rgb(100, 90, 90) !important;
  color: rgba(180, 170, 170, 0.8) !important;
}

/**
set backgrounds
**/
.background--dark {
  background: rgb(100, 90, 90) !important;
}

.background--light {
  background: rgb(250, 240, 240) !important;
}

/** control panel section **/
/**
change button color
**/

.theme--light.ripple,
.color--light {
  color: rgba(120, 100, 100, 0.9) !important;
}
/** style playback speed button **/
.theme--light input[type="range"] {
  accent-color: rgba(150, 140, 140, 0.9) !important;
  background-color: rgba(220, 200, 200, 0.9) !important;
}

.theme--light input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: rgba(220, 200, 200, 0.1) !important;
}

.theme--dark.ripple,
.color--dark {
  color: rgba(220, 200, 200, 0.9) !important;
}

.theme--dark input[type="range"] {
  accent-color: rgba(150, 140, 140, 0.9) !important;
  background-color: rgba(220, 200, 200, 0.5) !important;
}

.theme--dark input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: rgba(220, 200, 200, 0.5) !important;
}
