.control-panel {
    // border: 1px solid black;
    @extend %border-strong;
    border-radius: em(5);
    padding: em(5);
    width: fit-content;
    margin: em(25) auto;

    &__control {
        border-radius: em(5);

        &:focus {
            outline: none;
        };

        margin: em(5);
    }
}