.sentence {
    position: relative;
    &__word {
        border: em(.5) solid black;
        margin: em(5);
        padding: em(5);
        line-height: 3;
        border-radius: em(5);
        position: relative;
        &:hover {
            color: white;
            cursor: pointer;
            background: map-get($ui-colors, accent) radial-gradient(circle, transparent 1%, map-get($ui-colors, accent) 1%) center/15000%;
        }
        &--playing {
            color: map-get($ui-colors, accent)
        }
    }
}