@use "utilities/extends";
@use "utilities/functions";

.control-panel {
  @extend %border--strong--bottom;
  @extend %border--strong--left;
  @extend %border--strong--right;
  border-radius: 0 0 functions.em(5) functions.em(5);
  position: relative;
  min-width: 100%;
  display: inline-flex;
  // margin: functions.em(25) auto;

  &__buttons {
    &--left {
      width: 25%;
      float: left;
      margin-top: functions.em(5);
      padding: functions.em(5);
    }

    &--center {
      width: 25%;
      text-align: center;
      margin: 0 auto;
    }

    &--right {
      width: 25%;
      text-align: right;
      float: right;
      margin-top: functions.em(5);
      margin-right: functions.em(5);
    }
    &__header {
      margin: functions.em(5);
    }
  }

  &__control {
    border-radius: functions.em(5);
    margin: functions.em(8) auto;
    &:focus {
      outline: none;
    }

    // margin: functions.em(5);
  }
}

.settings {
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  &__divider {
  }

  &__option {
    &__container {
    }

    &__header {
      margin-bottom: functions.em(8);
    }

    &__setting {
    }
  }
}
