
// @source http://smacss.com/book/type-module
//
// Module Rules
//
// A Module is a more discrete component of the page.
// It is your navigation bars and your carousels and your dialogs and your
//  widgets and so on. This is the meat of the page.
// Modules sit inside Layout components. Modules can sometimes sit
// within other Modules, too. Each Module should be designed to
// exist as a standalone component. In doing so, the page will be more
// flexible. If done right, Modules can easily be moved to different parts
// of the layout without breaking.

// ==========================================================================
// $Nav
// ==========================================================================
@import 'controls';
@import 'overlay';
@import 'pages';
@import 'settings';
@import 'slots';

// loader
.loader {
  border: 16px solid #eee;
  border-radius: 50%;
  /* make a medicine wheel*/
  border-right-color:#aa0;
  border-bottom-color:#a33;
  border-left-color:#111;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 3s linear infinite; /* Safari */
  animation: spin 3s linear infinite;

  position: fixed;
  top:calc(50vh - 10rem);
  left:calc(50vw - 10rem);
  z-index:1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  transition-delay: 2s;
  transition: visibility 15s height 5s;

}
.alert.status-success {
  color: #198754;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert.status-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert.fade {
  visibility: collapse;
  height: 0 !important;
  overflow: hidden!important;
  line-height: 0!important;
  padding: 0!important; margin: 0!important; border: 0!important;
}
