#waveform {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.low {
  z-index: z("nav");
}

.overlay {
  &__container {
    // margin-top: -3px;
    width: 100%;
    max-width: 100%;
    height: em(50);
    position: relative;
    z-index: z("dropdown");
    @extend %border--strong;
    @extend %border--strong;
  }
}

#overlay {
  &__object {
    z-index: z("nav");
    max-height: 100%;
    min-width: 100%;
    fill: "transparent";

    &.theme {
      @each $theme, $value in $ui-themes {
        &--#{$theme} {
          stroke: map-deep-get($ui-themes, $theme, secondary);
        }
      }
    }
  }
}

.scroll-guide {
  &__container {
    text-align: center;
    z-index: z("nav");
    width: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    @extend %themed-bg;
    @extend %border--strong;
  }

  &__text {
    font-size: em(map-get($font-sizes, lg));
    @extend %basic-text;
    @extend %themed-text;
  }
}
