<section>
    <div class="container export__desc">
        <h2 class="subtitle" id="upload-header">
            Upload data to start creating your ReadAlong</h2>
        <p>In order to make a ReadAlong, we need 3 different things. We need some <b>text</b>, some corresponding
            <b>audio</b>, and a way of turning the writing system of your language (AKA <a href='https://en.wikipedia.org/wiki/Orthography'>Orthography</a>) into the <a href='https://en.wikipedia.org/wiki/International_Phonetic_Alphabet'>International Phonetic Alphabet
                (IPA)</a>. If you're not a linguist, don't worry! This sounds scarier than it is, and, once you make the map between your language's writing system and the IPA once, you don't have to do it again!
        </p>
    </div>
    <div class="container">
        <div class="row g-2">
            <div id="text-section" class="col-6 p-3 border bg-light">
                <h1 class="title navbar navbar-light bg-light">Text
                    <mat-button-toggle-group appearance="legacy" (change)="toggleTextInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.text">
                        <mat-button-toggle value="edit">Write</mat-button-toggle>
                        <mat-button-toggle value="upload">File</mat-button-toggle>
                    </mat-button-toggle-group>
                </h1>
                <div *ngIf="inputMethod.text === 'upload'" class="mb-3">
                    <h2 class="subtitle">Upload the text</h2>
                    <label for="updateText" class="form-label">Upload text files (.txt) or XML files (.xml)</label>
                    <input (change)="onFileSelected('text', $event)" class="form-control" name="text" type="file" id="updateText" accept=".docx,.txt,.xml">
                </div>
                <div *ngIf="inputMethod.text === 'edit'" class="mb-3">
                    <h2 class="subtitle">Write your text here</h2>
                    <quill-editor (onContentChanged)="updateText($event)"></quill-editor>
                </div>
            </div>
            <div id="audio-section" class="col-6 p-3 border bg-light">
                <h1 class="title navbar navbar-light bg-light">Audio
                    <mat-button-toggle-group appearance="legacy" (change)="toggleAudioInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.audio">
                        <mat-button-toggle value="mic">Record</mat-button-toggle>
                        <mat-button-toggle value="upload">File</mat-button-toggle>
                    </mat-button-toggle-group>
                </h1>


                <div *ngIf="inputMethod.audio === 'upload'" class="mb-3">
                    <h2 class="subtitle">Upload the audio</h2>
                    <label for="updateAudio" class="form-label">You must upload your audio either as an mp3 or wav
                            file.</label>
                    <input (change)="onFileSelected('audio', $event)" class="form-control" name="audio" type="file" id="updateAudio" accept=".mp3,.wav">
                </div>
                <div *ngIf="inputMethod.audio === 'mic'" class="mb-3">
                    <h2 class="subtitle">Record your voice here</h2>
                    <button mat-icon-button (click)="startRecording()" [color]="recording ? 'warn' : 'primary'" aria-label="Record button">
                        <mat-icon>mic</mat-icon>
                        Record
                      </button>
                    <button style="margin-left: 40px" [color]="playing ? 'warn' : 'primary'" (click)="playRecording()" *ngIf="!recording && recordedAudio" mat-icon-button color="primary" aria-label="Play button">
                        <mat-icon>play_circle</mat-icon>
                        Play
                      </button>
                    <button style="margin-left: 40px" (click)="stopRecording()" *ngIf="recording" mat-icon-button color="primary" aria-label="Stop button">
                        <mat-icon>stop_circle</mat-icon>
                        Stop
                      </button>
                </div>
            </div>
            <div id="language-section" class="col-12 p-3 border bg-light">
                <h1 class="title">Select your Language</h1>
                <p>If your language isn't supported in the list below, have a look at <a href="https://blog.mothertongues.org/g2p-background/">this blog post series</a> to understand how you might get support for your langauge!
                </p>

                <div class="mb-3">
                    <label for="langSelect" class="form-label">You can use the dropdown below to select a
                            pre-configured mapping for your language.</label>
                    <br />
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Language</mat-label>
                                <mat-select [formControl]="langControl" required>
                                    <mat-option value="eng">English - eng</mat-option>
                                    <mat-option *ngFor="let lang of langs$ | async" [value]="lang['id']">
                                        {{lang['name']}} - ({{lang['id']}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <button id="next-step" class="mt-4" mat-raised-button type="submit" (click)="nextStep()">Go to the next step!</button>
            <mat-progress-bar *ngIf="$loading | async" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</section>