<section>
    <div class="container export__desc">
        <h2 class="subtitle" id="upload-header">
            Upload data to start creating your ReadAlong</h2>
        <p>In order to make a ReadAlong, we need 3 different things. We need to know <b>which language</b> your readalong is in, and we also need some <b>text</b>, and corresponding
            <b>audio</b>.
        </p>
    </div>
    <div class="container">
        <div class="row g-2 mb-3">
            <div id="text-section" class="col-12 col-sm-6 p-3 border bg-light">
                <!-- <div class="container"> -->
                <div class="d-flex flex-row justify-content-between">
                    <div class="p-0">
                        <h1 class="title">Text</h1>
                    </div>
                    <div class="p-0">
                        <mat-button-toggle-group appearance="legacy" (change)="toggleTextInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.text">
                            <mat-button-toggle value="edit">Write</mat-button-toggle>
                            <mat-button-toggle value="upload">File</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div *ngIf="inputMethod.text === 'upload'">
                    <div class="row">
                        <div class="mt-4 mb-3">
                            <!-- <div class="container"> -->
                            <label for="updateText" class="form-label">Upload plain text files (.txt) or ReadAlong Studio temporary files (.ras)</label>
                            <input #textInputElement (change)="onFileSelected('text', $event)" class="form-control" name="text" type="file" id="updateText" accept=".txt,.xml,.ras">
                        <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="inputMethod.text === 'edit'">
                    <div class="d-flex flex-row justify-content-between p-0">
                        <span class="p-0"><h2 class="subtitle">Write or paste your text here</h2></span>
                        <span class="p-0">
                            <button mat-button [disabled]="!textInput" (click)="downloadText()"
                                    aria-label="Text download button" style="padding: 0 0 0 10px">
                                 <mat-icon>save</mat-icon>
                                 Save
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea (input)="handleTextInput($event)" id="textInput" class="border rounded h-100" matInput placeholder="Ex. Hello my name is..."></textarea>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div id="audio-section" class="col-12 col-sm-6 p-3 border bg-light">
                <!-- <div class="container"> -->
                <div class="d-flex flex-row justify-content-between p-0">
                    <div class="p-0">
                        <h1 class="title">Audio</h1>
                    </div>
                    <div class="p-0">
                        <mat-button-toggle-group appearance="legacy" (change)="toggleAudioInput($event)" name="inputMethod" aria-label="Input Method" [value]="inputMethod.audio">
                            <mat-button-toggle value="mic">Record</mat-button-toggle>
                            <mat-button-toggle value="upload">File</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>

                <div *ngIf="inputMethod.audio === 'upload'" class="row mb-3">
                    <h2 class="subtitle">Upload the audio</h2>
                    <label for="updateAudio" class="form-label">You must upload your audio as mp3, wav, or webm
                            file.</label>
                    <input (change)="onFileSelected('audio', $event)" class="form-control" name="audio" type="file" id="updateAudio" accept=".mp3,.wav,.webm">
                </div>
                <div *ngIf="inputMethod.audio === 'mic'" class="mb-0 mb-md-3">
                    <div class="row">
                        <h2 class="subtitle">Record your voice here</h2>
                    </div>
                    <div class="row text-center">
                      <button class="audioControl" mat-icon-button (click)="startRecording()" [color]="recording ? 'warn' : 'primary'" aria-label="Record button">
                        <mat-icon>mic</mat-icon>
                        <span *ngIf="audioControl.value !== null">Re-Record</span>
                        <span *ngIf="audioControl.value === null">Record</span>
                      </button>
                      <button class="audioControl" (click)="stopRecording()" *ngIf="recording" mat-icon-button color="primary" aria-label="Stop button">
                        <mat-icon>stop_circle</mat-icon>
                        Stop
                      </button>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <button class="audioControl" [color]="playing ? 'warn' : 'primary'" (click)="playRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="primary" aria-label="Play button">
                      <mat-icon>play_circle</mat-icon>
                      Play
                    </button>
                  </div>
                  <div class="col-12 col-md-4">
                    <button class="audioControl" color="primary" (click)="downloadRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="primary" aria-label="Audio download button">
                      <mat-icon>file_download</mat-icon>
                      Download
                    </button>
                  </div>
                  <div class="col-12 col-md-4">
                    <button class="audioControl" (click)="deleteRecording()" *ngIf="!recording && audioControl.value !== null" mat-icon-button color="warn" aria-label="Delete button">
                      <mat-icon>delete</mat-icon>
                      Delete
                    </button>
                  </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <div class="row g-2">
            <div id="language-section" class="col-12 p-3 border bg-light">
                <h1 class="title">Select your Language</h1>
                <p>If your language isn't supported in the list below, you can try and run it with the "Undetermined" option below. If that's not working very well, have a look at <a href="https://blog.mothertongues.org/g2p-background/">this blog post series</a>                    to understand how you might get support for your language, or <a href="">contact us</a> for more info!
                </p>

                <div class="mb-3">
                    <label for="langSelect" class="form-label">You can use the dropdown below to select a
                            pre-configured mapping for your language.</label>
                    <br />
                    <div class="row">
                        <div class="col-5">
                            <mat-form-field appearance="fill">
                                <mat-label>Select Language</mat-label>
                                <mat-select [formControl]="langControl" required>
                                    <mat-option value="und">Undetermined - (und)</mat-option>
                                    <mat-option *ngFor="let lang of langs$ | async" [value]="lang['id']">
                                        {{lang['name']}} - ({{lang['id']}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <button id="next-step" class="mt-4" mat-raised-button type="submit" (click)="nextStep()">Go to the next step!</button>
                <mat-progress-bar *ngIf="$loading | async" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>

    </div>
</section>
