name: Update Bundle
concurrency: Update Bundle
on: workflow_dispatch

jobs:
  bundle:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          package-manager-cache: false
      - run: npm install
      - run: npx update-browserslist-db@latest
      - run: npx nx build web-component
      - run: npx nx bundle web-component
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          add-paths: |
            packages/studio-web/package.json
            packages/studio-web/src/assets/bundle.js
            packages/studio-web/src/assets/fonts.b64.css
          branch: "bundle-update"
          commit-message: "chore: update bundle"
