name: End-to-end tests
on: [push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  cypress-run:
    strategy:
      matrix:
        node_version: [14, 16]
    runs-on: ubuntu-20.04
    # Stop the occasional rogue instance before the 6h GitHub limit
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          working-directory: ./packages/web-component
          start: npm run test-servers
          wait-on: npm run wait-for-test-server
