name: Run Tests
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install
        run: |
          npm install
      - name: Test
        run: |
          npm run test:once
